<div style="position: sticky;top: 0;left: 0;z-index: 1234567;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand" [hidden]="role=='BUYER' || role==null?false:true" 
           routerLink="/home">
            <img style="height:30px;" id="logo" src="assets/images/logo2.webp" alt=""> ShopVerse
          </a> 
          <a class="navbar-brand" [hidden]="role=='SELLER'?false:true" 
           routerLink="/admin-dashboard">
            <img style="height:30px;" id="logo" src="assets/images/logo2.webp" alt=""> ShopVerse
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/contact']" >Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [hidden]="role=='SELLER'?
                true:false" routerLink="/cart">Cart</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [hidden]="username==null?
                false:true"
                 routerLink="/login">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" style="cursor: pointer;" [hidden]="username!=null?
                false:true" (click)="onLogOut()" >LogOut</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    
    </div>