<app-header></app-header>
<div class="contact-card" id="box">
    <h2>CONTACT US</h2>
    <div class="contact-info">

        <p><i class="fas fa-phone" ></i>

            <img style="height:30px;" id="logo" src="assets/images/calllogo.jpg" alt="">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            
             +91-9420550836</p>
        <!-- <p><i class="fas fa-globe"></i> www.reallygreatsite.com</p> -->
        <p><i class="fas fa-envelope"></i>

            
            <img style="height:30px;" id="logo" src="assets/images/gmaillogo.jpg" alt="">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            vinayakbhoj31@gmail.com</p>
        <p><i class="fas fa-map-marker-alt"></i>
            <img style="height:30px;" id="logo" src="assets/images/locationlogo.jpg" alt="">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            123 Anywhere St., Any City</p>
            <hr>
        <div class="socialMedia">
            <button (click)="OnLink()"> <img style="height:30px;" id="logo" src="assets/images/linkedinlogo.jpg" alt=""></button>
            <!-- <span class="navbar-toggler-icon"></span> -->
            &nbsp;
            <button (click)="OnGit()"><img style="height:30px;" id="logo" src="assets/images/gituplogo.png" alt=""></button>
            &nbsp;
            <button (click)="OnInsta()"><img style="height:30px;" id="logo" src="assets/images/instalogo.jpg" alt=""></button>
            &nbsp;
            <button (click)="OnTele()"><img style="height:30px;" id="logo" src="assets/images/telegramlogo.jpg" alt=""></button>
        </div>
    </div>
    <!-- <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script> -->

</div>


<app-footer class="fixed-bottom"></app-footer>