
<ul class="list-group">
    <li class="list-group-item">
        <input type="checkbox" value="electronics">
        &nbsp;
        Electronics
    </li>
    <li class="list-group-item">
        <input type="checkbox" value="fashion">
        &nbsp;
        Fashion
    </li>
    <li class="list-group-item">
        <input type="checkbox" value="homeFurniture">
        &nbsp;
        Home & Furniture
    </li>
    <li class="list-group-item">
        <input type="checkbox" value="book">
        &nbsp;
        Books
    </li>
</ul>