
<div class="d-flex flex-wrap product-container">
    <div
      
      class="card shadow-sm m-2"
      *ngFor="let product of products"
      [ngStyle]="{
        'flex': 'inherit',        
      }"
    >
      <!-- Product Image -->
      <img [src]="product.productImagePath" class="card-img-top" 
      alt="{{ product.name }}" />
  
      <!-- Card Body -->
      <div class="card-body">
        <!-- Product Name -->
        <h5 class="card-title">{{ product.productTitle }}</h5>
  
        <!-- Product Description -->
        <p class="card-text text-muted" [title]="product.description">
          {{ product.description | slice: 0:50 }}...
        </p>
  
        <!-- Product Price -->
        <p class="fw-bold mb-1">{{ product.originalPrice | currency:'INR'}}</p>
        <p class="discount">Discount Price: {{ product.sellingPrice|currency:'INR' }}</p>
  
        <!-- Product Rating -->
        <div class="rating mb-2">
          <span *ngFor="let star of [1, 2, 3, 4, 5]">
            <i
              class="bi" 
              [ngClass]="star <= product.ratings ? 'bi-star-fill text-warning' : 'bi-star text-muted'
              "
            ></i>
          </span>
        </div>
  
        <!-- Add to Cart Button -->
        <button 
        [hidden]="role=='BUYER' || role==null?false:true" 
        (click)="onAddToCart(product)" 
        class="btn btn-primary btn-sm w-100">Add to Cart</button>

        <div [hidden]="role=='SELLER'?false:true" >
          <button (click)="onUpdate(product.id)" 
          class="btn btn-warning btn-sm w-40">Update</button>
          <button (click)="onDelete(product.id)" 
          class="btn btn-danger btn-sm w-40">Delete</button>
        </div>
      </div>
    </div>
  </div>